<md-card flex class="md-padding">
  <div layout="row"
       layout-align="center">
    <h2 class="md-headline">Construct your query parameters</h2>
  </div>
  <div layout="row">
    <md-input-container flex-offset="5" flex="45" class="md-padding">
        <label>Price Limit (USD$)</label>
        <input ng-model="query.price "
               required
               ng-disabled="query.disableMyAccount">
      </md-input-container>
      <md-input-container flex="45" class="md-padding">
            <md-select ng-model="query.category" ng-change="updateCategory();" placeholder="Select a Category">
                <md-option ng-value="key" ng-repeat="(key, value) in categories">{{key}}</md-option>
                <md-tooltip>If your category has zero results, we will choose from a random category</md-tooltip>
            </md-select>
        </md-input-container>
  </div>
  <div layout="row">
    <md-radio-group ng-model="query.frequencyOptions"
                    layout="row"
                    flex
                    class="md-padding"
                    required
                    layout-align="space-around center">
      <md-radio-button ng-repeat="o in frequencyOptions" ng-value="o">{{o.label}}</md-radio-button>
    </md-radio-group>
  </div>
  <div layout="row" layout-align="center center">
    <md-button ng-click="send()" style="color: white" class="md-primary md-raised md-padding">
      Update Query Preferences
    </md-button>
    <md-button ng-click="preview()" style="color: white" class="md-primary md-raised md-padding">
      Preview Query Results
    </md-button>
  </div>
</md-card>
<md-card ng-show="preview">
    <table>
        <tr ng-repeat="item in previewData.itemSummaries">
            <td><img ng-src="{{ item.image.imageUrl }}" /></td>
            <td>{{ item.title }}</td>
            <td><md-button ng-click="forceBuy(item.itemId, item.image.imageUrl)" class="md-raised md-primary" style="color:white">Force Buy</md-button></td>
        </tr>
    </table>
</md-card>