<md-card flex>
  <div layout="row"
       layout-align="center">
    <h2 class="md-headline">Construct your query parameters</h2>
  </div>
  <div layout="row">
    <md-slider flex-offset="5"
               flex = "40"
               ng-model="query.price"
               step=".01"
               min="1.00"
               max="5.00"
               required
               ng-disabled="query.disableMyAccount"></md-slider>
    <md-input-container flex-offset="10" flex="40">
        <label>Price Limit ($)</label>
        <input ng-model="query.price"
               required
               ng-disabled="query.disableMyAccount">
      </md-input-container>
  </div>
  <div layout="row">
    <md-radio-group ng-model="selected"
                    layout="row"
                    flex
                    required
                    layout-align="space-around center">
      <md-radio-button ng-repeat="o in frequencyOptions"
                       ng-value="o.value">
          {{o.label}}
      </md-radio-button>
    </md-radio-group>
  </div>

  <div layout="row">
    <md-input-container flex>
      <md-select ng-model="query.category" placeholder="Select a Category">
        <md-option ng-value="c" ng-repeat="c in categories">{{c}}</md-option>
        <md-tooltip>If your category has zero results, we will choose from a random category</md-tooltip>
      </md-select>
    </md-input-container>
  </div>

  <div layout="row" layout-align="center center">
    <md-button ng-click="send()" style="color: white" class="md-primary md-raised">
      Update Query Preferences
    </md-button>
  </div>

</md-card>